/* Styling for settings */
.setting-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* Styling for setting name */
.setting-name {
  width: 20%;
}

/* Styling for setting value */
.value {
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

/* Styling for password */
.password-value {
  -webkit-text-security: disc;
}
