* {
  box-sizing: border-box;
}

/* Styling for the hours grid */
.event-grid {
  display: flex;
  flex-direction: column;
}

.grid-header {
  display: flex;
  margin-left: 5rem;
}

.grid-column-header {
  flex: 2;
  text-align: center;
  border-bottom: 0.2rem solid #1e1e1e;
  font-weight: bold;
}

.grid-body {
  display: flex;
  margin-left: 0;
}

.grid-column {
  flex: 1;
  border-right: 0.2rem solid #1e1e1e;
  position: relative;
}

.hour-column {
  width: 5rem;
}

/* Styling for each hour slot */
.time-slot {
  height: 3.2rem;
  border-bottom: 0.2rem solid #1e1e1e;
  border-right: 0.2rem solid #1e1e1e;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

/* Styling for each event */
.event-block {
  position: absolute;
  width: calc(100%);
  border-radius: 1rem;
  box-sizing: border-box;
  z-index: 1;
}

/* Styling add event button inside hours */
.add-button {
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  border-bottom: 0.2rem solid #1e1e1e;
}

.add-button:hover {
  background-color: #1e1e1e;
}

.add-event-button {
  height: 3rem;
  border-radius: none;
  align-self: center;
  border: none;
  color: #afd900;
}

.add-event-button:hover {
  color: #afd900;
  background-color: transparent;
  border: none;
}

.add-event-button:disabled {
  color: grey;
  pointer-events: none;
}
