/* Styling Form */

/* Styling container */
.form-container {
    border: 0.2rem solid #c5ff00;
    border-radius: 1rem;
    justify-content: center;
    display: flex;
    width: 45rem;
    align-items: center;
    margin: auto;
    margin-top: 4rem;
}

/* Styling form */
.form-container form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Styling header */
.form-container legend {
    font-size: 1.8rem;
    align-self: center;
}

/* Styling input */
.form-container .form-item {
    display: flex;
    gap: 2rem;
}

/* Setting font size */
.form-container label, .form-container input, .form-container select, .form-container textarea {
    font-size: 1.5rem;
}

/* Styling label */
.form-container label {
    white-space: nowrap;
    width: 8rem;
}

/* Styling input */
.form-container input, .form-container select, .form-container textarea {
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Setting width */
.form-item input, .form-item select {
    width: 20rem;
    height: 2.5rem;
}

/* Setting dimensions */
.form-container textarea {
    height: 10rem;
}

/* Styling button */
.form-container button {
    background-color: #c5ff00;
    width: auto;
    align-self: center;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
}

/* Setting hover colour */
.form-container button:hover {
    background-color: #83aa03;
}