/* Styling for Hours Component */

/* Styling border */
.hours-container {
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to bottom, rgba(100, 42, 191, 1), rgba(44, 58, 197, 1)) border-box;
    border-radius: 1.563rem;
    border: 0.1875rem solid transparent;
    display: grid;
    width: 100%;
    height: 100%;
}

/* Adding underline to separate time slots */
.add-underline {
    border-bottom: 0.1875rem solid rgba(119, 37, 189, 1);
}

/* Setting layout */
.hour-block {
    display: flex;
    height: 3rem;
}

/* Centering */
.hour-block .add-event-button {
    margin: auto;
}

/* Setting dimensions */
.hour-block .add-event-button svg{
    height: 2rem;
    width: auto;
    opacity: 50%;
}

.hour-block svg {
    filter: invert(19%) sepia(48%) saturate(4862%) hue-rotate(258deg) brightness(87%) contrast(97%);
}

/* Setting button colour on hover */
.hour-block svg:hover {
    filter: invert(19%) sepia(66%) saturate(4479%) hue-rotate(236deg) brightness(79%) contrast(96%);
}