/* Styling for Hours Component */

/* Styling border */
.hours-container {
    border-radius: 1.563rem;
    border: 0.1875rem solid #C5FF00;
    display: grid;
    width: 100%;
    height: 100%;
}

/* Adding underline to separate time slots */
.add-underline {
    border: 0.1875rem solid #C5FF00;
}

/* Setting layout */
.hour-block {
    display: flex;
    height: 3rem;
}

/* Centering */
.hour-block .add-event-button {
    margin: auto;
}

/* Setting dimensions */
.hour-block .add-event-button svg{
    height: 2rem;
    width: auto;
    opacity: 50%;
}

.hour-block svg {
    filter: invert(95%) sepia(94%) saturate(2126%) hue-rotate(15deg) brightness(100%) contrast(103%);
}

/* Setting button colour on hover */
.hour-block svg:hover {
    filter: invert(100%) sepia(95%) saturate(19%) hue-rotate(329deg) brightness(105%) contrast(104%);
}