/* Styling for Hours Component */

/* Styling border */
.hours-container {
  border-radius: 1.563rem;
  border: 0.1rem solid #1e1e1e;
  display: grid;
  width: 100%;
  height: 100%;
}

/* Adding underline to separate time slots */
.add-underline {
  border-bottom: 0.1rem solid #1e1e1e;
}

/* Setting layout */
.hour-block {
  display: flex;
  position: relative;
  height: 3rem;
}

/* Centering */
.hour-block .add-event-button {
  margin: auto;
}

/* Setting dimensions */
.hour-block svg {
  height: 2rem;
  width: auto;
  opacity: 50%;
  fill: #a7d900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Setting button colour on hover */
.hour-block svg:hover {
  fill: white;
}
