/* Defining styles for ConsultantSettings page */

/* Defining layout of settings items */
.settings-items {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
  white-space: nowrap;
  font-size: 1.5rem;
  border-radius: 1rem;
}

/* Styling header */
.header {
    text-align: center;
    margin: 0;
    font-family: Inter;
    margin-bottom: 2rem;
    font-size: 2.3rem;
}

/* Defining layout of container for days of week worked */
.days-of-week-worked,
.working-hours {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

/* Styling container for all days of week */
.days-of-week {
  display: flex;
  gap: 1em;
}

/* Defining styling of each weekday button */
.day-of-week {
  font-size: 1rem;
  border-radius: 1rem;
  height: 3rem;
  background: gray;
  width: 3rem;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* Defining hover colour/background colour for selected day */
.day-of-week:hover,
.worked-day {
  background: #c5ff00;
  color: #1e1e1e;
}

.worked-day:hover {
  background: gray;
  color: white;
}

/* Styling line used to separate settings */
br {
  margin-top: 2rem;
  display: block;
  content: "";
  height: 0.1rem;
  background: #c5ff00;
}

/* Styling input */
.settings input {
  background: #c5ff00;
  width: 6.5rem;
  text-align: center;
}

/* Styling container */
.working-hours, .reminder {
    margin-top: 2rem;
}

/* Designing hours container */
.hours, .reminder-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Setting colour */
.working-hours input {
  color: #1e1e1e;
}

/* Changing icon colour */
::-webkit-calendar-picker-indicator {
  filter: invert(0%) sepia(34%) saturate(5951%) hue-rotate(125deg)
    brightness(118%) contrast(76%);
}

.error-message {
  font-size: 0.8rem;
  position: absolute;
  margin-top: 5rem;
}

.max-work-hours {
  font-size: 1rem;
  position: absolute;
  margin-top: 5rem;
  display: flex;
  align-items: center;
}

.max-work-hours input {
  box-shadow: none;
  height: 1rem;
  width: 1rem;
  margin-left: 1rem;
}

.checkbox {
  -webkit-appearance: none; /* Removing default box */
  position: relative;
  background: white;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #c5ff00;
  font-size: 1rem;
}

/* Setting colour to white */
.checkbox:checked {
  color: #1e1e1e;
}

/* Styling checkbox */
.checkbox::before {
  position: absolute;
  content: "\2713";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Styling container */
.reminder {
    display: flex;
}