/* Code for AddEvent Component*/

/* Styling which includes centering the component at the center of the page */
#addEvent
{
    position: fixed;
    background: linear-gradient(rgba(100, 42, 191, 1), rgba(44, 58, 197, 1));
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 21rem;
    width: 24rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

/* Styling button used to close event */
.closeEvent
{
    color: white;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 1rem;
    font-size: 2rem;
}

/* Styling button colour on close */
.closeEvent:hover {
    color: black;
}

/* Styling addEvent inputs, centering on div */
#addNewEvent
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 0.7rem;
}

/* Styling input div */
.input
{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    margin-right: auto;
    align-items: center;
    margin-left: 2rem;
}

/* Setting input name width */
label {
    width: 7.9rem;
}

/* Styling input/select boxes */
input, select {
    border: 0;
    background-color: white;
    width: 8rem;
    height: 1.3rem;
}

/* Styling add event button */
#addNewEvent .addEventButton {
    margin-top: 0.7rem;
    margin-left: 2rem;
}

.input span {
    margin-left: -1rem;
}