/* Code for AddEvent Component*/

/* Styling which includes centering the component at the center of the page */
#addEvent
{
    position: fixed;
    background: linear-gradient(rgba(100, 42, 191, 1), rgba(44, 58, 197, 1));
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 16.7rem;
    width: 22rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

/* Styling button used to close event */
.closeEvent
{
    color: white;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 1rem;
    font-size: 2rem;
}

/* Styling button colour on close */
.closeEvent:hover {
    color: black;
}

/* Styling addEvent inputs, centering on div */
#addNewEvent
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 0.4rem;
}

.input
{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-right: auto;
    align-items: center;
    margin-left: 1rem;
}

label {
    width: 7.48rem;
}

input {
    border: 0;
    background-color: white;
}

#addNewEvent .addEventButton {
    margin-top: 0.5rem;
    margin-left: 1rem;

}