/* Styling AddEventButton Component */

/* Setting default button styling */
#addEventButton svg {
    height: 3rem;
    width: auto;
    filter: invert(19%) sepia(48%) saturate(4862%) hue-rotate(258deg) brightness(87%) contrast(97%);
}

/* Setting button colour on hover */
#addEventButton svg:hover {
    filter: invert(19%) sepia(66%) saturate(4479%) hue-rotate(236deg) brightness(79%) contrast(96%);
}

/* Moving button closer to timesheet */
#addEventButton {
    margin-right: 3rem;
}