/* Code for AddEvent Component*/

/* Styling which includes centering the component at the center of the page */
#addEvent
{
    position: fixed;
    background: linear-gradient(rgba(100, 42, 191, 1), rgba(44, 58, 197, 1));
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 31.5rem;
    width: 36rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

/* Styling button used to close event */
.closeEvent
{
    color: white;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 1rem;
    font-size: 2rem;
}

/* Styling button colour on close */
.closeEvent:hover {
    color: black;
}

/* Styling addEvent inputs, centering on div */
#addNewEvent
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

/* Styling log event heading */
.logEventHeading {
    margin: auto;
    margin-bottom: 2.5rem;
}

/* Styling input div */
.input
{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

/* Setting label name */
label {
    width: 11.3rem;
    font-size: 1.5rem;
    font-family: Inter;
    text-align: left;
}

/* Styling input/select boxes */
input, select {
    border: 0;
    background-color: white;
    width: 10rem;
    margin: auto;
    height: 2rem;
    border-radius: 0.3rem;
    font-family: Inter;
    font-size: 1.3rem;
    /* box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2); */
}

/* Styling add event button */
#addNewEvent .addEventButton {
    margin: auto;
    margin-top: 0.1rem;
    background-color: black;
    color: white;
    width: 7rem;
}

/* Adding styling on hover */
#addNewEvent .addEventButton:hover {
    background-color: white;
    color: black;
}

/* Code to move checkbox left */
.checkBoxContainer {
    margin-left: 1rem;
    gap: 6.9rem;
    margin-right: 5rem;
}

.checkBoxLabel {
    width: 3rem;
}