#consultantView {
    font-family: Inter;
}

.consultantViewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#timesheet
{
  display: flex;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
#dailyHours
{
    margin-top: 4rem;
}

.dailyHour
{
    text-align: right;
    margin-right: 1rem;
    margin-top: 0;
    font-weight: 700;
    font-size: 1.5rem;
    height: 4rem;

}

/* Removing prior styling */
button
{
    background: none;
    border: none;
    padding: 0;
}

.submitButton:hover {
    filter: grayscale(50%);
}

#statusContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 4rem;
}

.submitButton {
    background: linear-gradient(rgba(100, 42, 191, 1), rgba(44, 58, 197, 1));
    font: Inter;
    color: white;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.4rem;
    width: 6rem;
    height: 2rem;
}

.submitButton:disabled {
    background: gray;
}

.resetButton {
    background: linear-gradient(rgba(100, 42, 191, 1), rgba(44, 58, 197, 1));
    color: white;
    margin-top: 0;
    height: 2rem;
    width: 10rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* Code for AddEvent */
#addEvent
{
    position: absolute;
    background: linear-gradient(rgba(100, 42, 191, 1), rgba(44, 58, 197, 1));
    color: white;
    top: 50%;
    transform: translateY(-50%);
    height: 50vh;
    width: 50vw;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.closeEvent
{
    color: white;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
}

.closeEvent:hover {
    font-size: 40px;
}

.addNewEvent
{
}


