/* Styling for Hours Component */

/* Styling border */
#hoursContainer {
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to bottom, rgba(100, 42, 191, 1), rgba(44, 58, 197, 1)) border-box;
    border-radius: 1rem;
    border: 0.1875rem solid transparent;
    display: grid;
    min-height: 150rem;
    width: 100%;
    margin-bottom: 1rem;
}

/* Adding underline to separate time slots */
.addUnderline {
    border-bottom: 0.1875rem solid rgba(119, 37, 189, 1);
}

.hourBlock {
    min-height: 6.5rem;
    display: flex;
}
