
/* CSS Styling for WeeklyNavigation Component */

/* Styling entire component */
#weekNavigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto; /* Set left margin to auto */
    margin-right: calc((100% - 40rem) / 2); 
}

/* Styling viewed week div */
.viewedWeek {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* Styling week range */ 
.currentWeek h2 {
    text-align: center;
    font-weight: 400;
    font-size: 1.875rem;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
    margin-top: 0;
}


/* Adding hover colour */
.resetButton:hover, .arrow:hover {
    filter: grayscale(50%);
}

/* Styling arrow icons */
.arrow svg {
    height: 1.5rem;
    width: auto;
    filter: invert(19%) sepia(48%) saturate(4862%) hue-rotate(258deg) brightness(87%) contrast(97%);
}

/* Styling reset button */
.resetButton {
    background: linear-gradient(rgba(100, 42, 191, 1), rgba(44, 58, 197, 1));
    color: white;
    margin-top: 0;
    height: 2rem;
    width: 10rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}