/* Styling for the add use button */

#addUserStyle {
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(0%,-50%);
}

#addUser {
    width: 7rem;
    height: 2.5rem;
    color: #1e1e1e;
    padding: 0.75rem;
    border-radius: 1.5rem;
    border: 0.2rem solid #c5ff00;
    background-color: #c5ff00;
    width: fit-content;
    position: relative;
    left: 80%;
    margin: 1.875rem;
    margin-bottom: 3.125rem;
    justify-content: center;
  }
  
  #addUser:hover {
    text-decoration: none;
    background-color: #1e1e1e;
    color: #f7f6f5;
  }
