/* Styling for the add use button */
#addUserStyle {
    font-size: 24px;
}

#addUser {
    width: fit-content;
    position: relative;
    left: 80%;
    margin: 30px;
    margin-bottom: 50px;
}

#addUser:hover {
    text-decoration: underline;
}