/* Styling for form */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Styling for password input fields */
.field-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  height: 10%;
}

.field-container label {
  font-size: 1.25rem;
  font-weight: bold;
  width: 20%;
}

.field-container input {
  width: 15rem;
  height: 2.5rem;
  border: 0.2rem solid white;
  margin-left: 2rem;
}

/* Styling for the submit button */
.update-password-container button {
  margin-top: 0.1rem;
  background-color: #c5ff00;
  color: black;
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
}

.update-password-container button:hover {
  background-color: #efecea;
  color: black;
}
