/* Styling for update password container */
.update-password-container {
  margin-top: 3rem;
}
/* Styling for form */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Styling for password input fields */
.field-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  height: 10%;
  text-align: center;
  align-items: center;
}

.field-container label {
  font-size: 1.25rem;
  font-weight: bold;
  width: 20%;
  background-color: #f7f6f5;
  color: #1e1e1e;
}

.field-container input {
  width: 15rem;
  height: 2.5rem;
  border: 0.1rem solid #1e1e1e;
  border-radius: 0.5rem;
  margin-left: 2rem;
}

/* Styling for the update password button */
.update-button {
  margin-top: 0.1rem;
  background-color: #c5ff00;
  color: black;
  width: 10rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.update-button:hover {
  background-color: #1e1e1e;
  color: #f7f6f5;
}
