/* Styling for Week Component */

/* Taking up entirety of parent container so timesheet is spread */
.week {
    display: grid;
    text-align: center;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr))
}