/* Button styling*/
.removeUser {
  margin: auto;
  margin-top: 3rem;
  background-color: #a7d900;
  color: #1e1e1e;
  width: 12rem;
  height: 3rem;
  border-radius: 1.5rem;
  font-size: 1.5rem;
}

/* Adding styling on hover */
.removeUser:hover {
  background-color: #f7f6f5;
  color: #1e1e1e;
  border: 0.1rem solid #f7f6f5;
}
