/* Defining styles for ConsultantSettings page */

/* Defining general layout of settings */
.settings {
    height: 100vh;
}

/* Defining layout of settings items */
.settings-items {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    white-space: nowrap;
    font-size: 1.5rem;
    background: linear-gradient(rgba(100, 42, 191, 1), rgba(44, 58, 197, 1));
    color: white;
    border-radius: 1rem;
}

/* Styling header */
.header {
    text-align: center;
    margin: 0;
    font-family: Inter;
}

/* Defining layout of container for days of week worked */
.days-of-week-worked {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* Styling container for all days of week */
.days-of-week {
    display: flex;
    gap: 1em;
}

/* Defining styling of each weekday button */
.day-of-week {
    font-size: 1rem;
    border-radius: 1rem;
    height: 3rem;
    width: 3rem;
    background: black;
    color: white;
}

/* Defining hover colour */
.day-of-week:hover, .worked-day {
    border: 2px solid white;
}

