/* Defining styles for ConsultantSettings page */

/* Defining general layout of settings */
.settings {
    height: 100vh;
}

/* Defining layout of settings items */
.settings-items {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    white-space: nowrap;
    font-size: 1.5rem;
    border-radius: 1rem;
}

/* Styling header */
.header {
    text-align: center;
    margin: 0;
    font-family: Inter;
}

/* Defining layout of container for days of week worked */
.days-of-week-worked, .working-hours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

/* Styling container for all days of week */
.days-of-week {
    display: flex;
    gap: 1em;
}

/* Defining styling of each weekday button */
.day-of-week {
    font-size: 1rem;
    border-radius: 1rem;
    height: 3rem;
    background: gray;
    width: 3rem;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: white;
}


/* Defining hover colour/background colour for selected day */
.day-of-week:hover, .worked-day {
    background: linear-gradient(rgba(100, 42, 191, 1), rgba(44, 58, 197, 1));
}

.worked-day:hover {
    background: gray;
}

/* Styling line used to separate settings */
br {
    margin-top: 2rem;
    display: block; 
    content: ""; 
    height: 0.1rem;
    background: linear-gradient(rgba(100, 42, 191, 1), rgba(44, 58, 197, 1));
}

/* Styling input */
.settings input {
    background: linear-gradient(rgba(100, 42, 191, 1), rgba(44, 58, 197, 1));
    color: white;
    width: 6.5rem;
    text-align: center;
}

/* Styling container */
.working-hours {
    margin-top: 2rem;
}

/* Designing hours container */
.hours {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message{
    font-size: 0.8rem;
    position: absolute;
    margin-top: 5rem;
}

.max-work-hours {
    font-size: 1rem;
    position: absolute;
    margin-top: 5rem;
    display: flex;
    align-items: center;
}

.max-work-hours input {
    box-shadow: none;
    height: 1rem;
    width: 1rem;
    margin-left: 1rem;
}

/* Styling box when checked */
.checkbox:checked {
    background: linear-gradient(rgba(100, 42, 191, 1), rgba(44, 58, 197, 1));
    /* accent-color: rgba(100, 42, 191, 1); */
}