/* Styling container to add background colour to popup */
.popup-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000000000;
    background-color: rgb(239, 236, 234, 0.5);
    color: #1E1E1E;
}

/* Styling container */
.popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #f7f6f5;
    border: 0.1rem solid #1E1E1E;
    border-radius: 1rem;
    width: 34rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

/* Styling buttons */
.popup .button {
    background-color: #a7d900;
    color: #1E1E1E;
    font-size: 1.4rem;
    width: 5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 1rem;
}

/* Setting hover colour */
.popup .button:hover {
    background-color: #1e1e1e;
    color: #f7f6f5;
}

/* Styling button container */
.popup-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}