/* Styling for container for NavBar */
.navbar-container {
  margin: 0;
  top: 0;
  background-color: black;
  width: 100%;
  flex-shrink: 0;
}

/* Styling for navigation element */
.navbar {
  top: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for navigation menu list */
.navbar-menu {
  margin: 2%;
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.navbar-link {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-logo {
  margin-left: 1rem;
}

/* Adding styling for 'Hi' message */
.welcome-message{
  font-weight: 400;
  font-family: Inter;
  font-size: 1rem;
  text-align: center;
}