/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  text-decoration: none;
}

:root {
  font-size: 16px; /* Assuming 1rem = 16px */
}

.name-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

::-webkit-scrollbar {
  width: 0.7rem;
  height: 1rem;
  background-color: transparent;
}

/* Making track transparent for a more seamless look */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Setting colour for scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #c5ff00;
  border-radius: 0.6rem;
}
body {
  background-color: #1e1e1e;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
select,
option,
input,
button {
  font-family: "Inter", sans-serif;
}
