/* Styling for log in container */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.login-box {
  width: 29rem;
  height: 21rem;
  top: 24.25rem;
  left: 30.5625rem;
  background: #c5ff00;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styiling for inputs */
.email-input {
  width: 22rem;
  height: 3.125rem;
  margin-bottom: 1.875rem;
  border: none;
  border-radius: 0.3125rem;
  outline: none;
  font-family: Inter;
  font-size: 1.25rem;
  color: #333;
  padding-top: 0.3125rem;
}

.password-input {
  width: 22rem;
  height: 3.125rem;
  margin-bottom: 1.5625rem;
  border: none;
  border-radius: 0.3125rem;
  outline: none;
  font-size: 1rem;
  color: #1e1e1e;
  padding-top: 0.3125rem;
}

/* Styling for input placeholders */
.email-input::placeholder,
.password-input::placeholder {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5125rem;
  text-align: left;
  padding-left: 0.625rem;
  padding-top: 6.25rem;
}

/* Styling for welcome text */
.welcome-text {
  font-size: 3rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 2rem;
  color: #fff;
}

/* Styling for forgot password */
.forgot-password {
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 1.5125rem;
  text-align: left;
  margin-top: 0.625rem;
  margin-left: 15.625rem;
  color: black;
  font-size: 0.875rem;
  text-align: right;
  display: block;
  margin-bottom: 0.625rem;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.forgot-password:hover {
  color: white;
}

/* Styling for log in button */
.login-button {
  width: 12rem;
  height: 2.5rem;
  padding: 0.625rem;
  border: none;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: white;
  color: black;
}

/* Styling for top bar and logo*/
.top-bar {
  width: 100%;
  height: 100%;
  margin-bottom: 7%;
  display: flex;
  align-items: center;
}

.top-logo {
  height: 2.5rem;
  margin-left: 1.25rem;
}

/* Styling for error message */
.error-message {
  color: #fff;
  font-size: 0.875rem;
  margin-bottom: 22.5rem;
  text-align: center;
}
