.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #f7f6f5;
}

/* Adding padding */
.login-container input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #f7f6f5;
}

.login-box {
  margin-top: 1rem;
  width: 461px;
  height: 325px;
  radius: 25px;
  background: #a7d900;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-information {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.email-input {
  width: 350px;
  height: 50px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-family: Inter;
  font-size: 20px;
  color: #333;
  padding-top: 5px;
}

.password-input {
  width: 350px;
  height: 50px;
  margin-bottom: 25px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-family: Inter;
  font-size: 20px;
  color: #333;
  padding-top: 5px;
}

.forgot-password {
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
  margin-left: 250px;
  color: #ffffff;
  font-size: 14px;
  text-align: right;
  display: block;
  text-decoration: underline;
  transition: color 0.3s ease;
}

body {
  background-color: #f7f6f5;
}

.login-button {
  width: 250px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f7f6f5;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #ddd;
}

.email-input::placeholder {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  padding-left: 10px;
  padding-top: 100px;
}

.password-input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  padding-left: 10px;
  padding-top: 100px;
}

.welcome-text {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 60.51px;
  text-align: center;
  color: #1e1e1e;
}

/* Styling for logo */
.top-bar {
  margin: 0 0 0 2rem;
  margin-right: auto;
  padding-top: 1rem;
}

.top-logo {
  width: 7rem;
  height: 7rem;
}

.forgot-password:hover {
  color: #1e1e1e;
}

.error-message {
  color: #fff;
  font-size: 14px;
  margin-bottom:360px;
  text-align: center;
}

.instruction-text {
  color: #333; 
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.success-message {
  color: #fff;
  background-color: #28a745;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}