/* Styling for DailyHour Component */

/* Setting entire container to flex */
.daily-hours {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

/* Styling hour */
.daily-hour {
    text-align: left;
    margin-left: 1rem;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.16rem;
}
