/* Code for AddEvent Component*/

/* Styling which includes centering the component at the center of the page */
.add-event {
  position: fixed;
  background-color: #f7f6f5;
  border: 0.1rem solid #1e1e1e;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

/* Styling button used to close event */
.close-event {
  margin-top: 0.6rem;
  margin-right: 0.6rem;
  position: absolute;
  right: 0;
}

/* Styling button */
.close-event svg {
  fill: #1e1e1e;
  height: 2rem;
  width: 2rem;
}

/* Styling button colour on close */
.close-event svg:hover {
  fill: red;
  transform: scale(1.5);
}

/* Styling addEvent inputs, centering on div */
.add-new-event {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling log event heading */
.log-event-heading {
  margin: auto;
  margin-bottom: 1rem;
  color: #1e1e1e;
  font-size: 2rem;
  padding-top: 1.5rem;
}

/* Styling input div */
.input {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: #f7f6f5;
}

/* Setting label name */
.add-event label {
  width: 11.3rem;
  font-size: 1.3rem;
  color: #1e1e1e;
  background-color: #f7f6f5;
  font-weight: 600;
}

/* Styling input/select boxes */
.add-event input,
.add-event select {
  border: 0.1rem solid #1e1e1e;
  width: 15rem;
  margin: auto;
  color: #1e1e1e;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* Changing icon colour */
.add-event ::-webkit-calendar-picker-indicator {
  filter: invert(0%) sepia(6%) saturate(1473%) hue-rotate(332deg)
    brightness(96%) contrast(76%);
  /* filter: invert(98%) sepia(2%) saturate(660%) hue-rotate(226deg) brightness(118%) contrast(100%); */
}

/* Adding padding */
.event-name input {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

/* Styling add event button */
.add-new-event .add-event-button {
  margin: auto;
  margin-top: 0.6rem;
  width: 8rem;
  height: 2rem;
  border-radius: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #1e1e1e;
  color: #f7f6f5;
  border: none;
}

/* Adding styling on hover */
.add-new-event .add-event-button:hover {
  background-color: #454545;
}

/* Styling checkbox */
.checkbox-container input {
  -webkit-appearance: none; /* Removing default box */
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-right: 13rem;
  background: white;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 0.4rem;
  border: 0.1rem solid #1e1e1e;
  color: white;
}

/* Setting colour to when event is recurring */
.checkbox-container .recur {
    color: #1E1E1E;
}

/* Styling checkbox */
.checkbox-container input::before {
  position: absolute;
  content: "\2713";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Styling hours and minutes inputs */
.event-duration-length {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.event-duration-length-item {
  width: 6.5rem;
}

/* Styling error message */
.error-message {
  color: #f7f6f5;
  background-color: red;
  padding: 0.4rem;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Defining textarea styles */
.add-event textarea {
  border: none;
  resize: none;
  height: 7rem;
  width: 27.8rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  overflow-y: auto;
  background-color: white;
  border-right: 0.3rem solid white;
}

/* Adding padding */
.datetime,
textarea {
  padding: 0.5rem;
}

/* Defining container style for notes */
.note-container {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

.note-container label {
  margin-top: 0.5rem;
}

.note-container textarea {
  border: 0.1rem solid #1e1e1e;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

/* Setting container */
.event-container {
  position: relative;
  top: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
}

/* Displaying event */
.event {
  background-color: #a7d900;
  width: 100%;
  position: absolute;
}

/* Roudning border if event is at beginning/end */
.rounded-top {
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
}

.rounded-bottom {
  border-bottom-left-radius: 1.3rem;
  border-bottom-right-radius: 1.3rem;
}

/* Styling icon */
.delete-event svg {
  fill: #1e1e1e;
  height: 1.4rem;
  width: 1.4rem;
  height: 3rem;
  position: relative;
  margin-left: auto;
  margin-top: 0.7rem;
  margin-right: 0.5rem;
  z-index: 1;
}

/* Setting hover colour */
.delete-event svg:hover {
  fill: red;
}

/* Styling error message */
.concur-error {
  color: red;
}

/* Formatting */
.select-recurring {
}

.manual-dropdown {
  background-color: white;
  border: 0.1rem solid #1e1e1e;
  width: 15rem;
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.3rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: #1E1E1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.manual-dropdown svg:hover {
  fill: #a7d900;
}

.menu {
  position: absolute;
  border-radius: 0.5rem;
  border: 0.1rem solid gray;
  background-color: white;
  top: 2.4rem;
  width: 15rem;
  left: 0;
  z-index: 1;
}

.menu div {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  width: 14.9rem;
}

.menu div:hover {
  background-color: #a7d900;
}

/* Setting hover colour */
.menu svg:hover {
  fill: red;
}