/* Code for AddEvent Component*/

/* Styling which includes centering the component at the center of the page */
.add-event {
    position: fixed;
    background-color: #C5FF00;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

/* Styling button used to close event */
.close-event {
    fill: white;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 1rem;
    font-size: 2rem;
}

.close-event svg{
    fill: #1E1E1E;
    background-color: #C5FF00;
}

/* Styling button colour on close */
.close-event svg:hover {
    background-color: #C5FF00;
    fill: white;
}

/* Styling addEvent inputs, centering on div */
.add-new-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #C5FF00;
    gap: 1.6rem;
}

/* Styling log event heading */
.log-event-heading {
    margin: auto;
    background: #C5FF00;
    margin-bottom: 2.5rem;
    color: #1E1E1E;
}

/* Styling input div */
.input {
    display: flex;
    gap: 2.5rem;
    background: #C5FF00;
    align-items: center;
}

/* Setting label name */
label {
    width: 11.3rem;
    font-size: 1.5rem;
    font-family: Inter;
    color: #1E1E1E;
    background: #C5FF00;
    text-align: left;
}

/* Styling input/select boxes */
input, select, textarea {
    border: 0;
    background-color: white;
    width: 14rem;
    margin: auto;
    color: #1E1E1E;
    background: #C5FF00;
    height: 2rem;
    border-radius: 0.3rem;
    font-family: Inter;
    font-size: 1.3rem;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* Styling add event button */
.add-new-event .add-event-button {
    margin: auto;
    margin-top: 0.1rem;    
    background-color:#1E1E1E;
    color: white;
    width: 7rem;
}

/* Adding styling on hover */
.add-new-event .add-event-button:hover {
    background-color: white;
    color: #1E1E1E;
}

/* Code to move checkbox left */
.checkbox-container {
    margin-right: auto;
    margin-left: 4rem;
}

.checkbox-container input {
    -webkit-appearance: none; /* Removing default box */
    position: relative;
    width: 2rem;
    height: 2rem;
    background: white;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 0.4rem;
    color: white;
}

/* Setting colour to white */
.checkbox-container input:checked{
    color: #1E1E1E;
}

/* Styling checkbox */
.checkbox-container input::before{
    position: absolute;
    content:'\2713';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* Styling hours and minutes inputs */
.event-duration-length {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.event-duration-length-item {
    width: 6.5rem;
}

/* Styling error message */
.error-message {
    color: white;
    background-color: red;
    padding: 0.4rem;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Defining textarea styles */
textarea {
    font-family: Inter;
    border: none;
    resize: none;
    height: 7rem;
    width: 27.8rem;
    font-size: 1rem;
    overflow-y: auto;
    border-right: 0.3rem solid white;
}

/* Adding padding */
.datetime, textarea {
    padding: 0.5rem;
}

/* Defining container style */
.note-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: auto;
    margin-left: 4.05rem;
    background: #C5FF00;
    gap: 1rem;
}

/* Displaying event */
.event {
    background-color: #C5FF00;
    width: 100%;
}


/* Roudning border if event is at beginning/end */
.rounded-top {
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
}

.rounded-bottom {
    border-bottom-left-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
}

/* Adding margin to ensure start time with minutes != 0 are moved up/down */
.late-start {
}

.early-end {
    margin-bottom: auto;
}