/* Styling for ConsultantView Component */

/* Setting font family */
#consultantView {
    font-family: Inter;
}
/*  */

/* Setting flexbox */
#consultantViewHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Removing prior styling */
button
{
    background: none;
    border: none;
    padding: 0;
}

/* Styling hover */
.submitButton:hover {
    filter: grayscale(50%);
}

/* Stying status container */
#statusContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    margin-left: auto;

}

/* Centering buttons rightmost */
.buttons {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    margin-right: 2rem;
}

/* Ensuring the rest of the content in the div remains centered */
.centered {
    display: flex;
    justify-content: center; /* Centering vertically */
    gap: 2rem;
    margin-left: auto;
}

/* Styling submit button */
.submitButton {
    background: linear-gradient(rgba(100, 42, 191, 1), rgba(44, 58, 197, 1));
    font: Inter;
    color: white;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.4rem;
    width: 6rem;
    height: 2rem;
}

/* Styling submit button when disabled */
.submitButton:disabled {
    background: gray;
}


/* Adding colours based on different timesheet statuses */
.status.pending, .status.unsubmitted {
    color: grey;
}

.status.approved, .status.submitted {
    color: green;
}

.status.rejected {
    color: red;
}

.status.saved { 
    color: rgba(100, 42, 191, 1);
}

/* Setting default button styling */
#consultantViewHeader svg {
    height: 3rem;
    width: auto;
    filter: invert(19%) sepia(48%) saturate(4862%) hue-rotate(258deg) brightness(87%) contrast(97%);
}

/* Setting button colour on hover */
#consultantViewHeader svg:hover {
    filter: invert(19%) sepia(66%) saturate(4479%) hue-rotate(236deg) brightness(79%) contrast(96%);
}

/* Moving button closer to timesheet */
.addEventButton {
    margin-right: 3rem;
}