.black-text {
  color: black;
  background-color: red;
}
/* Styling for menu */
.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 7rem;
}

/* Styling for filters */

/* Styling for the save button*/
.save-button {
  width: 7rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  border: 0.2rem solid #c5ff00;
  background-color: #c5ff00;
  color: #1e1e1e;
  font-weight: bold;
  margin-right: 7rem;
  font-size: 1.25rem;
}

.save-button:hover {
  background-color: #1e1e1e;
  color: #f7f6f5;
  border: 0.2rem solid #1e1e1e;
}
/* Styling for the timesheet containers */
.list-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 80rem;
  height: 40rem;
  border-radius: 1.5rem;
  border: 0.1rem solid #1e1e1e;
  margin-left: 7rem;
  margin-top: 1rem;
}

/* Styling for categories container */
.categories-container {
  display: flex;
  flex-direction: row;
  gap: 12rem;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 0.75rem;
  margin: -7 0 -7 0;
  color: darkgrey;
}

.category-name {
  margin-left: 10rem;
}

.category-status {
  margin-left: 5rem;
}
.category-status {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  margin-left: 4rem;
}

/* Styling for timesheets container */
.timesheet-container {
  max-height: 30rem;
  overflow-y: auto;
}
