/* Defining page styling */
.consultant-home { 
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
}

/* Setting margin */
.current-timesheet-container {
    width: 71rem;
    margin-bottom: 3rem;
}

/* Setting layout */
.current-timesheet { 
    display: flex;
    gap: 3rem;
    align-items: center;
    text-align: center;
}

/* Styling dropdown */
.dropdown svg {
    height: 1.5rem;
    width: auto;
    filter: invert(95%) sepia(94%) saturate(2126%) hue-rotate(15deg) brightness(100%) contrast(103%);
}

/* Setting dropdown hover colour */
.dropdown svg:hover {
    filter: invert(100%) sepia(95%) saturate(19%) hue-rotate(329deg) brightness(105%) contrast(104%);
}

/* Centering dropdown icons */
.dropdown {
    display: flex;
    align-items: center;
}

/* Styling dropdown menu */
.dropdown-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 0;
    background-color: white;
}

/* Setting overflow */
.past-timesheets {
    width: 71rem;
    overflow-y: auto;
    max-height: 33rem;
}