/* Styling Day Component */

/* Ensuring div takes us the whole parent container */
.weekday {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
}

/* Styling Day Header */
.day {
    font-weight: 700;
    font-size: 1.5rem;
    align-self: center;
    margin-bottom: 0.5rem;
 }