/* Styling for main window */
#manageUser {
  position: fixed;
  color: #f7f6f5;
  background-color: #1e1e1e;
  border: 0.1rem solid #c5ff00;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36rem;
  padding-bottom: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* Styling for close button*/
.closeWindow {
  fill: #f7f6f5;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 1rem;
  font-size: 2rem;
}

.closeWindow:hover {
  border: none;
}

.closeWindow svg {
  fill: #f7f6f5;
  background-color: #1e1e1e;
}

/* Styling button colour on close */
.closeWindow svg:hover {
  background-color: #1e1e1e;
  fill: red;
}

/* Styling log event heading */
.manageUserHeading {
  margin: auto;
  margin-bottom: 2rem;
}

#col1 {
  margin-right: 2rem;
}
/* Styling for user details */
/*
.detailsTable {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 0.125rem;
    border-color: gray;
    margin-left: 1.25rem;
    font-size: 1.5rem;
    font-family: Inter;
    text-align: left;
} */

#manageUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1e1e1e;
  gap: 1.5rem;
}

.manageUserInput {
  display: flex;
  flex-shrink: 0;
  width: 80%;
  align-items: center;
  color: #f7f6f5;
  gap: 1.2rem;
  margin: 1rem;
  overflow: hidden;
}

td {
  padding: 1.5rem;
  font-size: 1.5rem;
}

/* Setting label name */
#manageUser .label {
  flex-shrink: 0;
  font-weight: bold;
  width: 10rem;
  font-size: 1.5rem;
  text-align: left;
  color: #f7f6f5;
  background-color: #1e1e1e;
  margin-left: 0rem;
}

.formInputLabel {
  font-weight: bold;
  width: 10rem;
  font-size: 1.5rem;
  text-align: left;
  color: #f7f6f5;
  background-color: #1e1e1e;
}

/* Styling for user details heading*/
.detailsHeading {
  margin-left: 3.5rem;
  margin-bottom: 1rem;
}

/* Styling for all input boxes */
#manageUser .inputBox {
  border: 0;
  width: 15rem;
  padding-right: 2rem; /* Password is otherwise covered by icon */
  margin: 0;
  color: #1e1e1e;
  height: 2rem;
  border-radius: 0.3rem;
  font-family: Inter;
  font-size: 1.3rem;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* Positioning for the visibility toggle */
#passDiv {
  position: relative;
}
 
.icon {
  position: absolute;
  top: 20%;
  left: 90%;
  z-index: 1;
}

/* sets styling for the visibility toggle */
.eye {
  color: #000;
  background-color: #FFF;
  left: 50%;
  top: 50%;
  cursor: pointer;
}

.eye:hover {
  color: #c5ff00;
}

/* Flexbox for the bottom row of buttons */
.buttonFlex {
  display: flex;
  width: 80%;
  gap: 2.5rem;
  align-items: center;
  color: #f7f6f5;
  margin: 1rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0;
}

/* Styling for the updateUser button */
.updateUserButton {
  margin: auto;
  margin-top: 3rem;
  background-color: #c5ff00;
  color: #1e1e1e;
  width: 12rem;
  height: 3rem;
  border-radius: 1.5rem;
  font-family: Inter;
  font-size: 1.5rem;
  border: 0.2rem solid #c5ff00;
}

/* Adding styling on hover */
.updateUserButton:hover {
  background-color: white;
  color: black;
  border: 0.2rem solid white;
}

/* Styling error message */
.errorMessage {
  position: relative;
  margin-inline: auto;
  left: 1.3rem;
  color: #efecea;
  background-color: red;
  padding: 0.4rem;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}