/* Styling for main window */
#manageUser
{
    position: fixed;
    background-color: #1e1e1e;
    border: 0.3rem solid #c5ff00;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* Styling for close button*/
.closeWindow {
    fill: #efecea;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 1rem;
    font-size: 2rem;
  }
  
  .closeWindow svg {
    fill: #efecea;
    background-color: #1e1e1e;
  }
  
  /* Styling button colour on close */
  .closeWindow svg:hover {
    background-color: #1e1e1e;
    fill: red;
  }

/* Styling log event heading */
.manageUserHeading {
    margin: auto;
    margin-bottom: 2.5rem;
}

/* Styling for user details */
.detailsTable {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2rem;
    border-color: gray;
    margin-left: 20px;
}

/* Styling for user details heading*/
.detailsHeading {
    margin-left: 20px;
}